# Entorno virtual
.venv/

# Datos
data/raw/
data/interim/
data/processed/
data/external/

# Modelos y artefactos
models/trained/
models/artifacts/

# MLflow tracking
mlflow/

# Python cache
__pycache__/
*.pyc

# Notebooks checkpoints
.ipynb_checkpoints/
